<div *ngIf="githubuser">
    <h2>{{githubuser.login | uppercase}} Details</h2>
    <div><span>Id: </span>{{githubuser.Id}}</div>


    <div>
        <label>name:
            <input [(ngModel)]="githubuser.name" placeholder="name"/>
    
        </label>

    </div>
</div>
<h3>My Repo</h3>
<div class="grid grid-pad">
  <a *ngFor="let user of githubusers" class="col-1-4"
      routerLink="/detail/{{githubuser.login}}">
    <div class="module hero">
      <h4>{{githubuser.login}}</h4>
    </div>
  </a>
</div>

<app-githubuser-search></app-githubuser-search>
