<h3>Public repo</h3>
<ul>
    <li *ngFor="let item of userdata; let i = index">
         {{item.login}}
    </li>
</ul>
<!--
<input type="text" class="form-control" placeholder="Search" [(ngModel)]="query" id="listSearch">
<div class="panel panel-default col-xs-12 col-sm-11" *ngFor="let user of userdata | LockFilter: query">
    <input type="checkbox" (change)="openModal($event, lock)" class="check" id="{{user.name}}">
    <label [for]="user.name" class="check-label"></label>
    <h3 class="card-text name">{{userdata.name}}</h3>
    <h3 class="card text login">{{userdata.login}}</h3>
    <a href="{{user.avatar_url}}"></a>

</div>
-->
