<div class="container">
  
  <div class="row ">
  <div class="col-md-9 text-center">
    <app-search-form ([ngModel])='searchRepos()'></app-search-form>
  </div>
</div>
<div class="row">
  <div class="col-md-11">
    <div >
      <div class="table">
        <table class="table">
          <tbody>
           <tr *ngFor=" let repository of gitRepoRequest.searchRepo" >
            <td>
              <h4>
                <a style="text-align: center" href="{{repository.html_url}} " >{{repository.login}}</a>
                
              </h4>
              
              <p > Login name:
                <a href="{{repository.owner.html_url}}">{{repository.owner.login}}</a>
              </p>
              <p>Date Created : {{repository.created_at|date}}</p>
              <p>Description : {{repository.description}}</p>
              <p>Url: {{repository.url}}</p>
              <p><img src="{{repository.avatar_url}}"></p>
            </td>
          </tr>
          </tbody>
        </table>
        <hr>
      </div>
    </div>
  </div>

</div>
</div>
